    <div id="file-info-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{modal_header}}</h4>
                        </div>

                        <div class="modal-body">

                            <table id="file-info" class="table table-bordered">
                                <tbody>

                                    <tr>
                                        <td class="table-title">Filename</td>
                                        <td class="modal-filename">Loading...</td>
                                    </tr>

                                    <tr>
                                        <td class="table-title">Filesize</td>
                                        <td class="modal-filesize">Loading...</td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Filedate</td>
                                        <td class="modal-filedate">Loading...</td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Url</td>
                                        <td class="modal-url">Loading...</td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Filepath</td>
                                        <td class="modal-filepath">Loading...</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
    </div>
