{% load i18n %}

<div class="modal fade" id="remove-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remove</h4>
        </div>
        <div class="modal-body">

                <div class="container">

                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="remove-files">Delete</button>
        </div>
      </div>

    </div>
  </div>